
{%extends 'base.html'%}

{%block title%}Index{%endblock title%}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 

{% block body%}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 




    
<body class="website-background-black">	

	<div class="top-bottom-margin animate">	

		<!-- Work -->
		<a href="https://github.com/Scatter098/Django-presentation">
			<div class="on-hover-40 hide-text-block work-block">
				<h2 class="text-color-white">Django Presentation</h2>
				<p class="size-small text-color-red">Presentation webpage with django (frontend-backend)</p>
			</div>
		</a>
		<!-- Work -->
		<a href="https://github.com/Scatter098/Love-DO--music-player-">
			<div class="on-hover-40 hide-text-block work-block">
				<h2 class="text-color-white">LOVE - DO</h2>
				<p class="size-small text-color-red">Express your Love(simple Frontend)</p>
			</div>
		</a>	
		<!-- Work -->
		<a href="">
			<div class="on-hover-40 hide-text-block work-block">
				<h2 class="text-color-white">IPL dataset </h2>
				<p class="size-small text-color-red">IPL data analytic and data visuliation </p>
			</div>
		</a>
		<!-- Work -->
		<a href="">
			<div class="on-hover-40 hide-text-block work-block">
				<h2 class="text-color-white">Iris Dataset  </h2>
				<p class="size-small text-color-red">data classification </p>
			</div>
		</a>
		<!-- Work -->
		<a href="">
			<div class="on-hover-40 hide-text-block work-block">
				<h2 class="text-color-white"> coming soon </h2>
				<p class="size-small text-color-red">..............</p>
			</div>
		</a>
		

	</div>
</div>
	


</body>
</html>




  
      
    
  
  
{% endblock body%}
